.users_wrapper {
    background-color: white;
    display: flex;
    border-radius: 7px;
}
.users_inner {
    background-color: white;
    margin: 15px 25px;
}

.photo {
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

.selectedPage {
    font-weight: bold;
}

.user {
    padding: 10px 0px;
    border-bottom: 2px solid rgb(237,238,240);
}

.numbers_inner {
    display: flex;
}

.numbers {
    margin-right: 8px;
    border: 1px solid rgb(237,238,240);
    padding: 3px 6px;
    border-radius: 30px;
}