.postsBlock {
    margin-top: 15px;
}

.addPost {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.textBlock {
    background-color: white;
    border-radius: 7px;
    padding: 3px 5px;
}

.posts {
    background-color: rgb(237,238,240);
}