.profileInfoWrapper {
    font-family: 'Prompt', sans-serif;
}

.discriptionBlock {
    padding: 7px 7px;
    background-color: white;
    border-radius: 7px;
    display: flex;
}

.person_discription {
    margin-left: 15px;
    width: 76%;
    margin-top: 20px;
}

.profile_img {
    width: 180px;
    height: 200px;
}

.discription {
    margin-top: 10px;
}

.userName {
    font-weight: bold;
    font-size: 20px;
}