.span {
    padding: 5px 5px;
    width: 100%;
    border-radius: 5px;
}

.span:hover {
    background-color: rgb(237,238,240, 0.5);
}

.input {
    outline: none;
    border: none;
    width: 99%;
    border-radius: 2px;
    font-family: 'Zen Dots', cursive;
}

.active {
    background-color: rgb(237,238,240);
}
