.img {
    width: 100%;
    height: 240px;
    border-radius: 7px;
}

.discriptionBlock {
    margin-top: 15px;
    background-color: white;
    border-radius: 7px;
}

.profile_img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}