.discriptionBlock {
    padding: 7px 7px;
    background-color: white;
    border-radius: 7px;
    display: flex;
}

.person_discription {
    margin-left: 15px;
    width: 76%;
}

.profile_img {
    width: 150px;
    height: 150px;
}

.discription {
    margin-top: 10px;
}