.item {
    color: rgb(23, 140, 226);
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
}

.item img {
    height: 50px;
    width: 50px;
    border-radius: 30px;
}