.item {
    margin: 15px 0px;
    padding: 10px 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item img {
    height: 70px;
    width: 70px;
    border-radius: 35px;
}

.likeblock {
    margin-top: 5px;
    padding-top: 7px;
    border-top: 2px solid rgb(237,238,240);
    display: flex;
}

.info_wrapper {
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.name {
    font-size: 15px;
}

.postData {
    display: flex;
}

.heartLike {
    margin-right: 5px;
}

.button {
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    color: rgb(59, 59, 59);
    background-color: rgb(228, 228, 228);
    outline: none;
    font-family: 'Zen Dots', cursive;
    font-size: 12px;
}

.button:hover {
    color: red;
    background-color: rgb(201, 201, 201);
}