.full-screen {
    width: 100%;
    background-color: rgb(240, 240, 240);
}

.app-wrapper {
    padding-top: 10px;
    margin: 0 auto;
    width: 900px;
    display: grid;

    grid-template-areas:
    "h h"
    "n c";

    grid-template-rows: 50px 1fr;
    grid-template-columns: 2fr 10fr;
}

.content {
    grid-area: c;
    background-color: rgb(240, 240, 240);
    font-size: 14px;
    background-color: white;
    margin-top: 15px;
    border-radius: 7px;
}

.content-wrapper {
    margin: 0 auto;
    background-color: rgb(240, 240, 240);
}